/*
*  html5resetcss
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

nav ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

/* ******************************************** */
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Russo One;
    font-weight: lighter;
    letter-spacing: 2px;
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.question-block,
.resultat {
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0px 10px #ff9ffd;
}

h2 {
    font-weight: bold;
    margin-bottom: 1rem;
}

input[type=radio] {
    margin-right: 0.5rem;
}

form button {
    border: none;
    outline: none;
    border: 1px solid #333;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    padding: 30px 40px;
    font-size: 1.5rem;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

}

form button:hover {
    background-color: lightblue;
}

.echec {
    animation: echec 0.3s ease-in-out;
}

@keyframes echec {
    0% {
        transform: translateX(0px);
    }

    33% {
        transform: translateX(5px);
    }

    66% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0px);
    }
}

.note {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}

.aide {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}